<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="http://americanwings.store/public/upload/materials/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="http://americanwings.store/public/upload/materials/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="http://americanwings.store/public/upload/materials/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="http://americanwings.store/public/upload/materials/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="http://americanwings.store/public/upload/materials/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="http://americanwings.store/public/upload/materials/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="http://americanwings.store/public/upload/materials/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="http://americanwings.store/public/upload/materials/plugins/summernote/summernote-bs4.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="dr nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
      </li>
        <li class="nav-item d-none d-sm-inline-block">
        <a href="logout.php" class="nav-link">Logout</a>
      </li>
    </ul>

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="logo.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">ZHAM</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item dr">
            <a href="/index" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
              <li class="nav-item dr">
                <a href="/add-car" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ADD CAR</p>
                </a>
              </li>
            <li class="nav-item">
                <a href="/change-car-state" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Change Car State</p>
                </a>
            </li>
            <li class="nav-item">
              <a href="/change-class-fare" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Change Class Fare</p>
              </a>
          </li>
          <li class="nav-item">
            <a href="/change-car-class" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Change Car Class</p>
            </a>
        </li>
        <li class="nav-item">
          <a href="/remove-car" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Delete Car</p>
          </a>
      </li>
            <li class="nav-item">
                <a href="/ban" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Change User State</p>
                </a>
            </li>
            <li class="nav-item">
              <a href="/penalty" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Penalty To User</p>
              </a>
          </li>
            <li class="nav-item dr">
                <a href="/add-garage" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ADD GARAGE</p>
                </a>
            </li>
            <li class="nav-item dr">
                <a href="/change-garage-state" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Change Garage State</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/add-zone" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ADD REGION</p>
                </a>
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">