<%- include('_header'); %>
<title>ADD Garage</title>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <form method="POST" action="/add-trip"> 
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Garage Coordinate 1</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Latitude" name="car">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Garage Coordinate 2</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Longitude" name="garage">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Garage Coordinate 1</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Latitude" name="user">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Garage Coordinate 2</label>
            <input type="datetime-local" class="form-control" id="inputPassword4" placeholder="Longitude" name="start">
          </div>
        </div>
        
        </div>
        <center>
        <button type="submit" class="btn btn-success btn-lg">SUBMIT</button></center>
      </form>
      <!-- /.row -->
    
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <%- include('_footer'); %>